GPIO_DOOR_SENSOR=0
GPIO_ELECTRIC_STRIKE=1
HMAC_KEY=Für Produktivbetrieb bitte einen besseren Key verwenden
MQTT_BROKER=localhost
DOOR_NAME=main_door
OUTSIDE_READER_DEV=/dev/ttyUSB2
INSIDE_READER_DEV=/dev/ttyUSB1
KEYPAD_DEV=/dev/ttyUSB0
